.nuestrosCursos{

    padding: 20px 0 60px 0;
    height: auto;
}

.nuestrosCursosInfo__titulo{

    color: white;
    font-family: 'Bebas Neue';
    font-size: 50px;
    font-weight: 500;
}

.nuestrosCursosInfo__text{

    color: white;
    font-size: 18px;
    font-family: 'Montserrat';
}

.nuestrosCursosInfo__categorias{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.categorias{

    color: gray;
    background-color: black;
    font-size: 18px;
    font-family: 'Montserrat';
    border-bottom: 2px solid transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.active{

    border-color: #f9bb60;
    color: #f9bb60;
}

/*XS*/ 
@media (max-width: 575px) {

    .nuestrosCursosInfo__titulo{

        font-size: 35px;
    }

    .nuestrosCursosInfo__text{

        font-size: 14px;
    }

    .categorias{

        font-size: 13px;
    }

}
    
/*SM*/
@media (max-width: 767px) and (min-width: 576px) {

    .nuestrosCursosInfo__titulo{

        font-size: 35px;
    }

    .nuestrosCursosInfo__text{

        font-size: 14px;
    }

    .categorias{

        font-size: 13px;
    }

}
      
/*MD*/
@media (max-width: 991px) and (min-width: 768px) {

    .nuestrosCursosInfo__titulo{

        font-size: 35px;
    }

    .nuestrosCursosInfo__text{

        font-size: 15px;
    }

    .categorias{

        font-size: 15px;
    }

}
    
/*LG*/
@media (max-width: 1199px) and (min-width: 992px) {

    .nuestrosCursosInfo__titulo{

        font-size: 45px;
    }

    .nuestrosCursosInfo__text{

        font-size: 16px;
    }

    .categorias{

        font-size: 16px;
    }
       
}
    
/*XL*/
@media (min-width: 1200px){
  
}