.promocionProtectoresAcetatos__button{

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 90px;

    background-color: red;
    margin-left: 5px;
    margin-bottom: 22px;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: none;

    font-size: 22px;
    font-weight: 600;
    color: white;

}

.promocionProtectoresAcetatos__button i{

    margin-right: 5px;
}

.buttonText__precioRebaja{

    display: flex;
    align-items: baseline;
}

.precioRebaja__fiat{

    font-size: 18px;
}

.buttonText__precioOriginal{

    font-size: 18px;
    font-weight: 400;
    color: darkgray;
    text-decoration: line-through;
    margin-left: 5px;
}

.precioOriginal__fiat{

    font-size: 16px;
}

/*XS*/ 
@media (max-width: 575px) {
    
}
    
/*SM*/
@media (max-width: 767px) and (min-width: 576px) {

    .promocionProtectoresAcetatos__button{

        height: 45px;
        top: 145px;
        left: 53px;
        font-size: 16px;
    }

    .precioRebaja__fiat{

        font-size: 13px;
    }

    .buttonText__precioOriginal{

        font-size: 14px;
    }
        
}
      
/*MD*/
@media (max-width: 991px) and (min-width: 768px) {

    .promocionProtectoresAcetatos__button{

        height: 45px;
        font-size: 18px;
        margin-left: 35px;
        top: 90px;
    }

    .precioRebaja__fiat{

        font-size: 15px;
    }
      
}
    
/*LG*/
@media (max-width: 1199px) and (min-width: 992px) {
              
}
    
/*XL*/
@media (min-width: 1200px){

    .promocionProtectoresAcetatos__button{

        font-size: 24px;
    }
        
    .precioRebaja__fiat{
        
        font-size: 20px;
    }
   
}